/* 
==============
Modal
==============
*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -1;
}

/* OPEN/CLOSE MODAL */

.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  padding: 3.75rem;
  background: #fff;
  border-radius: 0.25rem;
  width: 90vw;
  height: 370px;
  max-width: 385px;
  text-align: center;
  place-items: center;
  position: relative;
}

.modal-container > * {
  margin-bottom: 2.5rem;
}

.modal-container > button {
  margin: 1rem 0;
}

.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}

.modal-container > select,
.modal-conatiner > input {
  width: 80%;
}

input {
  width: 80%;
  padding: 0 0 0.5rem 0;
}
